*{
        padding: 0;
        margin: 0;
}

body{
    box-sizing: border-box;
    font-family: roboto;
    font-weight: 300;
    width: 100vw;
    position: relative;
    overflow: hidden;
}

.gradient{
    background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, #000 100%);
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 0;
}

.details img{
	width: 40px;
}
.details{
	display: flex;
	justify-content: space-between;
	width: 36%;
	z-index: 2000;
	position: relative;
	margin: 0 auto;
	top: 28%;
	font-size: 0.8em;
	text-transform: capitalize;
	font-style: italic;
	color: aliceblue;
}

h2{
	position: relative;
	top: 27%;
	font-size: 2.5em;
	text-transform: uppercase;
	color: aliceblue;
}
section{
		width: 100%;
		height: 100vh;
		position: relative;
		overflow: hidden;
}

h1{
	position: relative;
	top: 30%;
	font-size: 5em;
	padding: 0;
	margin: 0;
	font-weight: 900;
	color: #FFE600;
}

.brand{
	position: relative;
	top: -0.6em;
	right: 15px;
}

span{
	cursor: pointer;
}

.arrows{
		bottom: 5%;
		right: 10%;
		position: absolute;
		display: flex;
		width: 20%;
		z-index: 9999;
		font-size: 3em;
		color: aliceblue;
		justify-content: space-between;
}

.slider{
		display: flex;
		width: 100vw;
		height: 100vh;
		text-align: center;
}

.slide{
		min-width: 100%;
		min-height: 100vh;
}

.slide-1{
		background: url('images/img1.PNG');
		background-position: center;
		background-size: cover;
}

.slide-2{
		background: url('images/img2.PNG');
		background-position: center;
		background-size: cover;
	}

.slide-3{
		background: url('images/img3.PNG');
		background-position: center;
		background-size: cover;
}

.slide-4{
 	background: url('images/img4.png');
		background-position: center;
		background-size: cover;
}

section #hurger-menu .icons{
	position: relative;
	width: 70%;
	top: 15%;
	left: 30%;
	right: 30%;
	height: 70%;
	bottom: 15%;
}


section #hurger-menu .icons .icon p{
	margin: 1em 0;
	font-size: 3em;
	top: 3%;
	font-weight: 100;
}


    section ul{
        background: rgba(0, 0, 0, 0.904);
        height: 100vh;
        width: 100vw;
        z-index: 100440;
        list-style: none;
        clip-path: circle(10px at 100% 0%);
        -webkit-clip-path: circle(0px at 100% 0%);
        transition: all 1s ease-out;
    }


    #hurger-menu.open{
        clip-path: circle(1000px at 100% 0%);
        -webkit-clip-path: circle(1000px at 100% 0%);
    } 


#hurger-menu .icon{
	display: flex;
	justify-content: space-between;
}

#hurger-menu .icon a .img{
	width: 50px;
}

#hurger-menu .icon a .hash{
	position: relative;
	top: 7em;
	left: -4em;
	
}


#hurger-menu .icon a .github{
	position: relative;
	top: 40%;
	left: -3em;
}





#hurger-menu{
	position: absolute;
	z-index: 11111;
	color: white;
}

section menu .pt{
    width: 3px;
    height: 3px;
	border-radius: 50%;
	background: rgb(255, 255, 255);
}



menu{
	position: absolute;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 25px;
    height: 25px;
	right: 3%;
	top: 3%;
	z-index: 100000;
}

.pt2_none{
    visibility: hidden;
}

.pt8_none{
    visibility: hidden;
}

.pt4_none{
    visibility: hidden;
}

.pt6_none{
    visibility: hidden;
}

h3{
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: rgb(0, 0, 0);
-webkit-text-fill-color: transparent;
font-size: 3em;	
transform: rotate(90deg);
position: relative;
top: 2em;
float: left;
}

